Debug
ScribbleVania.sdf
ScribbleVania.sln
ScribbleVania.v11.suo
ScribbleVania/ClassDiagram.cd
ScribbleVania/ScribbleVania.vcxproj
ScribbleVania/ScribbleVania.vcxproj.filters
ScribbleVania/ScribbleVania.vcxproj.user
ScribbleVania.opensdf
ScribbleVania.suo
